<template>
    <form>
        <!--Label: Name, Attributes: name-->
        <div class="">
            <div class="form-group">
                <label for="name" class="col-form-label">Full Name</label>
                <div class="" :class="{ 'has-danger' : errors.name }">
                    <input type="text" class="form-control" id="name"
                           v-model="name"
                           name="name"
                           :class="{ 'has-danger' : errors.name }" autocomplete="off">
                    <div class="invalid-feedback" v-if="errors.name">
                        <strong>{{ errors.name.toString() }}</strong>
                    </div>
                </div>
            </div>
        </div>
        <!--Label: ID Number, Attributes: idnumber-->
        <div class="">
            <div class="form-group ">
                <label for="idnumber" class=" col-form-label">ID Number</label>
                <div class="" :class="{ 'has-danger' : errors.idnumber }">
                    <input type="text" class="form-control" id="idnumber"
                           v-model="idnumber"
                           name="idnumber"
                           :class="{ 'has-danger' : errors.idnumber }" autocomplete="off">
                    <div class="invalid-feedback" v-if="errors.idnumber">
                        <strong>{{ errors.idnumber.toString() }}</strong>
                    </div>
                </div>
            </div>
        </div>
        <!--Label: Email, Attributes: email-->
        <div class="">
            <div class="form-group ">
                <label for="email" class=" col-form-label">Email</label>
                <div class="" :class="{ 'has-danger' : errors.email }">
                    <input type="text" class="form-control" id="email"
                           v-model="email"
                           name="email"
                           :class="{ 'has-danger' : errors.email }" autocomplete="off">
                    <div class="invalid-feedback" v-if="errors.email">
                        <strong>{{ errors.email.toString() }}</strong>
                    </div>
                </div>
            </div>
        </div>
        <!--Label: Birth Date, Attributes: bithdate-->
        <div class="">
            <div class="form-group ">
                <label for="bithdate" class=" col-form-label">Birth Date</label>
                <div class="" :class="{ 'has-danger' : errors.bithdate }">
                    <input type="text" class="form-control" id="bithdate"
                           v-model="bithdate"
                           name="bithdate"
                           :class="{ 'has-danger' : errors.bithdate }" autocomplete="off">
                    <div class="invalid-feedback" v-if="errors.bithdate">
                        <strong>{{ errors.bithdate.toString() }}</strong>
                    </div>
                </div>
            </div>
        </div>
        <!--Label: Gender, Attributes: gender-->
        <div class="">
            <div class="form-group ">
                <label for="gender" class=" col-form-label">Gender</label>
                <div class="" :class="{ 'has-danger' : errors.gender }">
                    <input type="text" class="form-control" id="gender"
                           v-model="gender"
                           name="gender"
                           :class="{ 'has-danger' : errors.gender }" autocomplete="off">
                    <div class="invalid-feedback" v-if="errors.gender">
                        <strong>{{ errors.gender.toString() }}</strong>
                    </div>
                </div>
            </div>
        </div>
        <!--Label: County, Attributes: county-->
        <div class="">
            <div class="form-group ">
                <label for="county" class=" col-form-label">County</label>
                <div class="" :class="{ 'has-danger' : errors.county }">
                    <input type="text" class="form-control" id="county"
                           v-model="county"
                           name="county"
                           :class="{ 'has-danger' : errors.county }" autocomplete="off">
                    <div class="invalid-feedback" v-if="errors.county">
                        <strong>{{ errors.county.toString() }}</strong>
                    </div>
                </div>
            </div>
        </div>
        <!--Label: Home Address, Attributes: address-->
        <div class="">
            <div class="form-group ">
                <label for="address" class=" col-form-label">Home Address</label>
                <div class="" :class="{ 'has-danger' : errors.address }">
                    <input type="text" class="form-control" id="address"
                           v-model="address"
                           name="address"
                           :class="{ 'has-danger' : errors.address }" autocomplete="off">
                    <div class="invalid-feedback" v-if="errors.address">
                        <strong>{{ errors.address.toString() }}</strong>
                    </div>
                </div>
            </div>
        </div>
        <!--Label: Religion, Attributes: religion-->
        <div class="">
            <div class="form-group ">
                <label for="religion" class=" col-form-label">Religion</label>
                <div class="" :class="{ 'has-danger' : errors.religion }">
                    <input type="text" class="form-control" id="religion"
                           v-model="religion"
                           name="religion"
                           :class="{ 'has-danger' : errors.religion }" autocomplete="off">
                    <div class="invalid-feedback" v-if="errors.religion">
                        <strong>{{ errors.religion.toString() }}</strong>
                    </div>
                </div>
            </div>
        </div>
        <!--Label: Registration Number, Attributes: regnumber-->
        <div class="">
            <div class="form-group ">
                <label for="regnumber" class=" col-form-label">Registration Number</label>
                <div class="" :class="{ 'has-danger' : errors.regnumber }">
                    <input type="text" class="form-control" id="regnumber"
                           v-model="regnumber"
                           name="regnumber"
                           :class="{ 'has-danger' : errors.regnumber }" autocomplete="off">
                    <div class="invalid-feedback" v-if="errors.regnumber">
                        <strong>{{ errors.regnumber.toString() }}</strong>
                    </div>
                </div>
            </div>
        </div>
        <!--Label: Programme, Attributes: programme-->
        <div class="">
            <div class="form-group ">
                <label for="programme" class=" col-form-label">Programme</label>
                <div class="" :class="{ 'has-danger' : errors.programme }">
                    <select class="form-control" id="programme"
                           v-model="programme"
                           name="programme"
                           :class="{ 'has-danger' : errors.programme }" autocomplete="off">
                        <option :value="course.id" v-for="course in courses">{{ course.gradetype.toUpperCase()}} &mdash; {{course.coursename}}</option>
                    </select>
                    <div class="invalid-feedback" v-if="errors.programme">
                        <strong>{{ errors.programme.toString() }}</strong>
                    </div>
                </div>
            </div>
        </div>
        <!--Label: Boarder, Attributes: boarder-->
        <div class="form-group ">
            <label class=" col-form-label">Boarder</label>

            <div class="" :class="{ 'has-danger' : errors.boarder }">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default-outline active">
                        <input type="radio" name="example5">
                        Yes
                    </label>
                    <label class="btn btn-default-outline">
                        <input type="radio" name="example5">
                        No
                    </label>
                </div>

                <div class="invalid-feedback" v-if="errors.boarder">
                    <strong>{{ errors.boarder.toString() }}</strong>
                </div>
            </div>
        </div>
    </form>
</template>

<script>
    export default {
        name: "create",
        props: {
            courses: {
                type: Array,
                default: []
            },
        },
        data() {
            return {
                name: '',
                idnumber: '',
                email: '',
                bithdate: '',
                gender: '',
                county: '',
                address: '',
                religion: '',
                errors: '',
                regnumber: '',
                programme: '',
                border: '',
            }
        },
        methods: {
            addStudent() {

            }
        },
    }
</script>

<style scoped>

</style>