<template>
    <div>
        <div class="table-responsive">
            <p>Applicants</p>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Course</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>National ID</th>
                    <th>Address</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="applicant in programme">
                    <td>{{ applicant.fullname}}</td>
                    <td>{{ applicant.course.coursename}} &mdash; {{ applicant.course.gradetype.toUpperCase()}}</td>
                    <td>{{ applicant.phone}}</td>
                    <td>{{ applicant.email}}</td>
                    <td>{{ applicant.nationalID}}</td>
                    <td>{{ applicant.Address}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        name: "show",
        props: {
            programme: {
                type: Array,
                default: {}
            },
        },
    }
</script>

<style scoped>

</style>