<template>
    <div>

        <span class="badge badge-danger bg-danger h4" style="padding: 10px;">PENDING</span>
        <table class="table table-striped">
            <tbody>
            <tr>
                <th>Name</th>
                <td>{{ student.fullname }}</td>
                <td><i class="fa fa-check text-success"></i></td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ student.email }}</td>
                <td><i class="fa fa-check text-success"></i></td>
            </tr>
            <tr>
                <th>Course</th>
                <td>{{ student.courseapp.coursename }} &mdash; {{ student.courseapp.gradetype }}</td>
                <td><i class="fa fa-check text-success"></i></td>
            </tr>

            <tr>
                <th>Phone</th>
                <td>{{ student.phone }}</td>
                <td><i class="fa fa-check text-success"></i></td>
            </tr>
            <tr>
                <th>National ID</th>
                <td>{{ student.nationalID }}</td>
                <td><i class="fa fa-check text-success"></i></td>
            </tr>
            <tr>
                <th>D.O.B</th>
                <td>{{ student.dob }}</td>
                <td><i class="fa fa-check text-success"></i></td>
            </tr>
            <tr>
                <th>Passport</th>
                <td>
                    <div v-if="student.passport !== null">
                        <p>Uploaded.</p>
                    </div>
                    <!--Label: Upload, Attributes: upload-->
                    <div class="form-group " v-else>
                        <div class="" :class="{ 'has-danger' : errors.upload }">
                            <input type="file" class="form-control" id="upload"
                                   name="upload"
                                   ref="passport"
                                   @change="uploadFile"
                                   :class="{ 'has-danger' : errors.upload }" autocomplete="off">
                            <div class="invalid-feedback" v-if="errors.upload">
                                <strong>{{ errors.upload.toString() }}</strong>
                            </div>
                        </div>
                    </div>
                </td>
                <td><i class="fa fa-close text-danger"></i></td>
            </tr>
            <tr>
                <th>KCSE Certificate or Result Slip</th>
                <td>
                    <div v-if="student.kcsecert !== null">
                        <p>Uploaded.</p>
                    </div>
                    <div class="form-group " v-else>
                        <div class="" :class="{ 'has-danger' : errors.kcse }">
                            <input type="file" class="form-control" id="kcse"
                                   name="kcse"
                                   ref="kcsecert"
                                   @change="uploadKCSE"
                                   :class="{ 'has-danger' : errors.kcse }" autocomplete="off">
                            <div class="invalid-feedback" v-if="errors.kcse">
                                <strong>{{ errors.kcse.toString() }}</strong>
                            </div>
                        </div>
                    </div>
                </td>
                <td><i class="fa fa-close text-danger"></i></td>
            </tr>

            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "tracking",
        props: {
            applicant: {},
        },
        data() {
            return {
                student: this.applicant[0],
                errors: '',
                upload: '',
                kcse: '',
                passport: '',
                kcsecerts: ''
            }
        },
        methods: {
            uploadFile() {
                let Self = this;
                this.passport = this.$refs.passport.files[0];
                let formData = new FormData();
                formData.append('file', this.passport);
                formData.append('applicant', this.student.id);
                axios.post('/updatepassport',
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                ).then(function () {
                    Self.student = resp.data;

                })
                    .catch(function () {

                    });


            },
            uploadKCSE() {
                let Self = this;
                this.kcsecerts = this.$refs.kcsecert.files[0];
                let formData = new FormData();
                formData.append('file', this.kcsecerts);
                formData.append('applicant', this.student.id);
                axios.post('/updatekcsecert',
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                ).then(resp => {
                    Self.student = resp.data;
                }).catch(function () {

                    });


            }
        },
    }
</script>

<style scoped>

</style>