<template>
    <div>
        <section class="panel" v-if="Object.keys(school).length >= 1">
            <div class="panel-heading">
                <h3>
                    {{school[0].school}}
                    <span class="pull-right">
                        <button class="btn btn-outline-warning">Edit</button>
                    </span>
                </h3>

            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="margin-bottom-50">
                            <h4>Logo</h4>
                            <br>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <p>Registration Code: <span class="pull-right text-uppercase"><strong>{{school[0].regcode}}</strong></span></p>
                        <p>MOE Code: <span class="pull-right text-uppercase"><strong>{{school[0].moecode}}</strong></span></p>
                        <p>TSC Code: <span class="pull-right text-uppercase"><strong>{{school[0].tsccode}}</strong></span></p>
                        <p>KNECCode: <span class="pull-right text-uppercase"><strong>{{school[0].kneccode}}</strong></span></p>
                        <hr>
                        <p>Mission: <span class="pull-right text-uppercase"><strong>{{school[0].mission}}</strong></span></p>
                        <p>Vision: <span class="pull-right text-uppercase"><strong>{{school[0].vission}}</strong></span></p>
                        <p>Motto: <span class="pull-right text-uppercase"><strong>{{school[0].motto}}</strong></span></p>
                        <hr>
                        <p>Location: <span class="pull-right text-uppercase"><strong>{{school[0].location}}</strong></span></p>
                        <p>Address: <span class="pull-right text-uppercase"><strong>{{school[0].address}}</strong></span></p>
                        <p>Telephone: <span class="pull-right text-uppercase"><strong>{{school[0].telephone}}</strong></span></p>
                        <hr>
                        <p>Status: <span class="pull-right text-uppercase"><strong>{{school[0].status}}</strong></span></p>
                        <p>Enrollment Type: <span class="pull-right text-uppercase"><strong>{{school[0].enrollmentype}}</strong></span>
                        </p>
                        <p>Category: <span class="pull-right text-uppercase"><strong>{{school[0].category}}</strong></span></p>
                        <p>Mobile: <span class="pull-right text-uppercase"><strong>{{school[0].mobile}}</strong></span></p>
                        <p>Website: <span class="pull-right text-uppercase"><strong>{{school[0].website}}</strong></span></p>
                        <p>Email: <span class="pull-right text-uppercase"><strong>{{school[0].email}}</strong></span></p>
                    </div>
                </div>
            </div>
        </section>
        <section class="panel" v-else>
            <div class="panel-heading">
                <h3>
                    School Information
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <form action="">
                            <!--Label: name, Attributes: name-->
                            <div class="form-group row">
                                <label for="name" class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-10" :class="{ 'has-danger' : errors.name }">
                                    <input type="text" class="form-control" id="name"
                                           v-model="name"
                                           name="name"
                                           :class="{ 'has-danger' : errors.name }" autocomplete="off">
                                    <div class="form-control-error-list" v-if="errors.name">
                                        <strong>{{ errors.name.toString() }}</strong>
                                    </div>
                                </div>
                            </div>
                            <!--Label: KNEC CODE, Attributes: knec-->
                            <div class="form-group row">
                                <label for="knec" class="col-sm-2 col-form-label">KNEC CODE</label>
                                <div class="col-sm-10" :class="{ 'has-danger' : errors.knec }">
                                    <input type="text" class="form-control" id="knec"
                                           v-model="knec"
                                           name="knec"
                                           :class="{ 'has-danger' : errors.knec }" autocomplete="off">
                                    <div class="form-control-error-list" v-if="errors.knec">
                                        <strong>{{ errors.knec.toString() }}</strong>
                                    </div>
                                </div>
                            </div>
                            <!--Label: TSC Code, Attributes: tsc-->
                            <div class="form-group row">
                                <label for="tsc" class="col-sm-2 col-form-label">TSC Code</label>
                                <div class="col-sm-10" :class="{ 'has-danger' : errors.tsc }">
                                    <input type="text" class="form-control" id="tsc"
                                           v-model="tsc"
                                           name="tsc"
                                           :class="{ 'has-danger' : errors.tsc }" autocomplete="off">
                                    <div class="form-control-error-list" v-if="errors.tsc">
                                        <strong>{{ errors.tsc.toString() }}</strong>
                                    </div>
                                </div>
                            </div>
                            <!--Label: MOE Code, Attributes: moecode-->
                            <div class="form-group row">
                                <label for="moecode" class="col-sm-2 col-form-label">MOE Code</label>
                                <div class="col-sm-10" :class="{ 'has-danger' : errors.moecode }">
                                    <input type="text" class="form-control" id="moecode"
                                           v-model="moecode"
                                           name="moecode"
                                           :class="{ 'has-danger' : errors.moecode }" autocomplete="off">
                                    <div class="form-control-error-list" v-if="errors.moecode">
                                        <strong>{{ errors.moecode.toString() }}</strong>
                                    </div>
                                </div>
                            </div>
                            <!--Label: Mission, Attributes: mission-->
                            <div class="form-group row">
                                <label for="mission" class="col-sm-2 col-form-label">Mission</label>
                                <div class="col-sm-10" :class="{ 'has-danger' : errors.mission }">
                                    <input type="text" class="form-control" id="mission"
                                           v-model="mission"
                                           name="mission"
                                           :class="{ 'has-danger' : errors.mission }" autocomplete="off">
                                    <div class="form-control-error-list" v-if="errors.mission">
                                        <strong>{{ errors.mission.toString() }}</strong>
                                    </div>
                                </div>
                            </div>
                            <!--Label: Vission, Attributes: vission-->
                            <div class="form-group row">
                                <label for="vission" class="col-sm-2 col-form-label">Vission</label>
                                <div class="col-sm-10" :class="{ 'has-danger' : errors.vission }">
                                    <input type="text" class="form-control" id="vission"
                                           v-model="vission"
                                           name="vission"
                                           :class="{ 'has-danger' : errors.vission }" autocomplete="off">
                                    <div class="form-control-error-list" v-if="errors.vission">
                                        <strong>{{ errors.vission.toString() }}</strong>
                                    </div>
                                </div>
                            </div>
                            <!--Label: Motto, Attributes: motto-->
                            <div class="form-group row">
                                <label for="motto" class="col-sm-2 col-form-label">Motto</label>
                                <div class="col-sm-10" :class="{ 'has-danger' : errors.motto }">
                                    <input type="text" class="form-control" id="motto"
                                           v-model="motto"
                                           name="motto"
                                           :class="{ 'has-danger' : errors.motto }" autocomplete="off">
                                    <div class="form-control-error-list" v-if="errors.motto">
                                        <strong>{{ errors.motto.toString() }}</strong>
                                    </div>
                                </div>
                            </div>
                            <!--Label: Location, Attributes: location-->
                            <div class="form-group row">
                                <label for="location" class="col-sm-2 col-form-label">Location</label>
                                <div class="col-sm-10" :class="{ 'has-danger' : errors.location }">
                                    <input type="text" class="form-control" id="location"
                                           v-model="location"
                                           name="location"
                                           :class="{ 'has-danger' : errors.location }" autocomplete="off">
                                    <div class="form-control-error-list" v-if="errors.location">
                                        <strong>{{ errors.location.toString() }}</strong>
                                    </div>
                                </div>
                            </div>
                            <!--Label: Address, Attributes: address-->
                            <div class="form-group row">
                                <label for="address" class="col-sm-2 col-form-label">Address</label>
                                <div class="col-sm-10" :class="{ 'has-danger' : errors.address }">
                                    <input type="text" class="form-control" id="address"
                                           v-model="address"
                                           name="address"
                                           :class="{ 'has-danger' : errors.address }" autocomplete="off">
                                    <div class="form-control-error-list" v-if="errors.address">
                                        <strong>{{ errors.address.toString() }}</strong>
                                    </div>
                                </div>
                            </div>
                            <!--Label: Telephone, Attributes: telephone-->
                            <div class="form-group row">
                                <label for="telephone" class="col-sm-2 col-form-label">Telephone</label>
                                <div class="col-sm-10" :class="{ 'has-danger' : errors.telephone }">
                                    <input type="text" class="form-control" id="telephone"
                                           v-model="telephone"
                                           name="telephone"
                                           :class="{ 'has-danger' : errors.telephone }" autocomplete="off">
                                    <div class="form-control-error-list" v-if="errors.telephone">
                                        <strong>{{ errors.telephone.toString() }}</strong>
                                    </div>
                                </div>
                            </div>
                            <!--Label: Status, Attributes: status-->
                            <div class="form-group row">
                                <label for="status" class="col-sm-2 col-form-label">Status</label>
                                <div class="col-sm-10" :class="{ 'has-danger' : errors.status }">
                                    <input type="text" class="form-control" id="status"
                                           v-model="status"
                                           name="status"
                                           :class="{ 'has-danger' : errors.status }" autocomplete="off">
                                    <div class="form-control-error-list" v-if="errors.status">
                                        <strong>{{ errors.status.toString() }}</strong>
                                    </div>
                                </div>
                            </div>
                            <!--Label: Enrollment Type, Attributes: enrollmenttype-->
                            <div class="form-group row">
                                <label for="enrollmenttype" class="col-sm-2 col-form-label">Enrollment Type</label>
                                <div class="col-sm-10" :class="{ 'has-danger' : errors.enrollmenttype }">
                                    <input type="text" class="form-control" id="enrollmenttype"
                                           v-model="enrollmenttype"
                                           name="enrollmenttype"
                                           :class="{ 'has-danger' : errors.enrollmenttype }" autocomplete="off">
                                    <div class="form-control-error-list" v-if="errors.enrollmenttype">
                                        <strong>{{ errors.enrollmenttype.toString() }}</strong>
                                    </div>
                                </div>
                            </div>
                            <!--Label: Category, Attributes: category-->
                            <div class="form-group row">
                                <label for="category" class="col-sm-2 col-form-label">Category</label>
                                <div class="col-sm-10" :class="{ 'has-danger' : errors.category }">
                                    <input type="text" class="form-control" id="category"
                                           v-model="category"
                                           name="category"
                                           :class="{ 'has-danger' : errors.category }" autocomplete="off">
                                    <div class="form-control-error-list" v-if="errors.category">
                                        <strong>{{ errors.category.toString() }}</strong>
                                    </div>
                                </div>
                            </div>
                            <!--Label: Mobile Number, Attributes: mobile-->
                            <div class="form-group row">
                                <label for="mobile" class="col-sm-2 col-form-label">Mobile Number</label>
                                <div class="col-sm-10" :class="{ 'has-danger' : errors.mobile }">
                                    <input type="text" class="form-control" id="mobile"
                                           v-model="mobile"
                                           name="mobile"
                                           :class="{ 'has-danger' : errors.mobile }" autocomplete="off">
                                    <div class="form-control-error-list" v-if="errors.mobile">
                                        <strong>{{ errors.mobile.toString() }}</strong>
                                    </div>
                                </div>
                            </div>
                            <!--Label: Website, Attributes: website-->
                            <div class="form-group row">
                                <label for="website" class="col-sm-2 col-form-label">Website</label>
                                <div class="col-sm-10" :class="{ 'has-danger' : errors.website }">
                                    <input type="text" class="form-control" id="website"
                                           v-model="website"
                                           name="website"
                                           :class="{ 'has-danger' : errors.website }" autocomplete="off">
                                    <div class="form-control-error-list" v-if="errors.website">
                                        <strong>{{ errors.website.toString() }}</strong>
                                    </div>
                                </div>
                            </div>
                            <!--Label: Email, Attributes: email-->
                            <div class="form-group row">
                                <label for="email" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10" :class="{ 'has-danger' : errors.email }">
                                    <input type="text" class="form-control" id="email"
                                           v-model="email"
                                           name="email"
                                           :class="{ 'has-danger' : errors.email }" autocomplete="off">
                                    <div class="form-control-error-list" v-if="errors.email">
                                        <strong>{{ errors.email.toString() }}</strong>
                                    </div>
                                </div>
                            </div>
                            <!--Label: Logo, Attributes: logo-->
                            <div class="form-group row">
                                <label for="logo" class="col-sm-2 col-form-label">Logo</label>
                                <div class="col-sm-10" :class="{ 'has-danger' : errors.logo }">
                                    <input type="text" class="form-control" id="logo"
                                           v-model="logo"
                                           name="logo"
                                           :class="{ 'has-danger' : errors.logo }" autocomplete="off">
                                    <div class="form-control-error-list" v-if="errors.logo">
                                        <strong>{{ errors.logo.toString() }}</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="logo" class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10" :class="{ 'has-danger' : errors.logo }">
                                    <button type="button" class="btn btn-success margin-inline"
                                            @click.prevent="saveSchool">
                                        Save
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        props: {
            school: {
                type: Array,
                default: []
            },
        },
        data() {
            return {
                errors: '',
                knec: '',
                tsc: '',
                moecode: '',
                mission: '',
                vission: '',
                motto: '',
                location: '',
                address: '',
                telephone: '',
                status: '',
                enrollmenttype: '',
                category: '',
                mobile: '',
                website: '',
                email: '',
                name: '',
                logo: '',
            }
        },
        methods: {
            saveSchool() {
                axios.post('/school', this.$data).then(resp => {
                    Object.assign(this.$data, this.$options.data())
                }).catch(err => {
                    this.errors = err.response.data.errors;
                });
            }
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
