<template>
    <div>
        <section class="panel">
            <div class="panel-heading">
                <h3>
                    Subjects
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <thead>
                                <tr>
                                    <th>Category</th>
                                    <th>Code</th>
                                    <th>Subject Name</th>
                                    <th>Official Code</th>
                                    <th>Offered</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="subject in subjects">
                                    <td>{{ subject.category}}</td>
                                    <td>{{ subject.code}}</td>
                                    <td>{{ subject.subject}}</td>
                                    <td>{{ subject.officialcode}}</td>
                                    <td>{{ subject.offered}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="panel">
            <div class="panel-heading">
                <h3>
                    Add Subjects
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <form>
                            <!--Label: Subject Name, Attributes: subject-->
                            <div class="form-group row">
                                <label for="subject" class="col-sm-2 col-form-label">Subject Name</label>
                                <div class="col-sm-10" :class="{ 'has-danger' : errors.subject }">
                                    <input type="text" class="form-control" id="subject"
                                           v-model="subject"
                                           name="subject"
                                           :class="{ 'has-danger' : errors.subject }" autocomplete="off">
                                    <div class="invalid-feedback" v-if="errors.subject">
                                        <strong>{{ errors.subject.toString() }}</strong>
                                    </div>
                                </div>
                            </div>
                            <!--Label: Code, Attributes: Code-->
                            <div class="form-group row">
                                <label for="Code" class="col-sm-2 col-form-label">Code</label>
                                <div class="col-sm-10" :class="{ 'has-danger' : errors.Code }">
                                    <input type="text" class="form-control" id="Code"
                                           v-model="Code"
                                           name="Code"
                                           :class="{ 'has-danger' : errors.Code }" autocomplete="off">
                                    <div class="invalid-feedback" v-if="errors.Code">
                                        <strong>{{ errors.Code.toString() }}</strong>
                                    </div>
                                </div>
                            </div>
                            <!--Label: Official Code, Attributes: officialcode-->
                            <div class="form-group row">
                                <label for="officialcode" class="col-sm-2 col-form-label">Official Code</label>
                                <div class="col-sm-10" :class="{ 'has-danger' : errors.officialcode }">
                                    <input type="text" class="form-control" id="officialcode"
                                           v-model="officialcode"
                                           name="officialcode"
                                           :class="{ 'has-danger' : errors.officialcode }" autocomplete="off">
                                    <div class="invalid-feedback" v-if="errors.officialcode">
                                        <strong>{{ errors.officialcode.toString() }}</strong>
                                    </div>
                                </div>
                            </div>
                            <!--Label: Category, Attributes: category-->
                            <div class="form-group row">
                                <label for="category" class="col-sm-2 col-form-label">Category</label>
                                <div class="col-sm-10" :class="{ 'has-danger' : errors.category }">
                                    <input type="text" class="form-control" id="category"
                                           v-model="category"
                                           name="category"
                                           :class="{ 'has-danger' : errors.category }" autocomplete="off">
                                    <div class="invalid-feedback" v-if="errors.category">
                                        <strong>{{ errors.category.toString() }}</strong>
                                    </div>
                                </div>
                            </div>
                            <!--Label: Offered, Attributes: offered-->
                            <div class="form-group row">
                                <label for="offered" class="col-sm-2 col-form-label">Offered</label>
                                <div class="col-sm-10" :class="{ 'has-danger' : errors.offered }">
                                    <input type="text" class="form-control" id="offered"
                                           v-model="offered"
                                           name="offered"
                                           :class="{ 'has-danger' : errors.offered }" autocomplete="off">
                                    <div class="invalid-feedback" v-if="errors.offered">
                                        <strong>{{ errors.offered.toString() }}</strong>
                                    </div>
                                </div>
                            </div>
                            <!--Label: Save, Attributes: save-->
                            <div class="form-group row">
                                <label for="save" class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10" :class="{ 'has-danger' : errors.save }">

                                    <button class="btn btn-outline-dark" @click.prevent="saveSubject">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        name: "subject",
        props: {
            subjects: {
                type: Object,
                default: {}
            },
        },
        data() {
            return {
                errors: '',
                subject: '',
                Code: '',
                officialcode: '',
                category: '',
                offered: '',
            }
        },
        methods: {
            saveSubject() {
                axios.post('/subject',this.$data).then(resp=>{
                    Object.assign(this.$data, this.$options.data())
                }).catch(err=>{
                    this.errors = err.response.data.errors;
                })
            }
        },
    }
</script>

<style scoped>

</style>